/* Estilos generales para el componente Card */
.carta {
    background-color: blueviolet;
    max-width: 500px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 20px; 
  }
  
  /* Estilos para dispositivos con un ancho máximo de 940px */
  @media (max-width: 940px) {
    .carta {
      width: 90%;
      padding: 15px; 
    }
  }
  
  /* Estilos para dispositivos con un ancho máximo de 648px */
  @media (max-width: 648px) {
    .carta {
      width: 95%; 
      padding: 10px; 
    }
  }