/* .about-us {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .about-us-header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
  }
  
  .about-us-content {
    margin: 20px 0;
  }
  
  .about-us-footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
  } */